<div class="container pt-5 pb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-5 text-center">
            <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
              <div class="mb-md-5 mt-md-4">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">
                  Please enter your username and password!
                </p>
                <div class="form-outline form-white mb-4">
                  <input
                    required
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="username"
                    name="username"
                    [(ngModel)]="loginDTO.username"
                  />
                  <label class="form-label" for="username">Username</label><br />
                </div>
                <div class="form-outline form-white mb-4">
                  <input
                    required
                    type="password"
                    class="form-control form-control-lg"
                    placeholder="password"
                    name="password"
                    [(ngModel)]="loginDTO.password"
                  />
                  <label class="form-label" for="password">Password</label><br />
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit">
                  Login
                </button>
              </div>
              <div>
                <p class="mb-0">
                  Don't have an account?
                  <a href="/register" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  